* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px red solid; */
}

/* reset */

.container {
    display: flex;
    flex-direction: column;

    justify-content: center;

    max-width: 1900px;

    margin-left: auto;
    margin-right: auto;

}

/* Navbar */
.container nav {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;

    background-color: #add8e6;

}

.logo, .links, .login {
    display: flex;
    align-items: center;
}

.logo {

    justify-content: flex-start;

    width: 240px;
    height: 50px;

    background-color: #daa520;
}

.links {

    justify-content: center;

    width: 720px;
    height: 50px;

    background-color: #daa520;
}

.links a {
    
    text-decoration: none;
    
    padding: 2px;
}

.login {

    justify-content: flex-end;

    width: 240px;
    height: 50px;

    background-color: #daa520;
}
/* Fine navbar */


/* header */

header {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;

    background-color: #00008b;
}

.quadrato {
    display: flex;

    width: 900px;
    height: 400px;

    background-color: #ee82ee;
}
/* Fine header */


/* Prima sezione*/
.prova {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 600px;
    /* padding: 60px; */
}

.img {
    display: flex;

    width: 715px;
    height: 500px;

    background-color: #1e90ff;
}

.testo {
    display: flex;

    width: 475px;
    height: 500px;

    background-color: #ffc0cb;
}

.bg-gray {
    background-color: #d3d3d3;
}
/* Fine prima sezione */


/* Seconda sezione */
.prova2 {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 990px;

}

.quadrato2 {
    display: flex;

    width: 1194px;
    height: 895px;

    background-color: #228b22;
}
/* Fine seconda sezione */


/* Terza sezione */
.verticale{
    display: flex;
    flex-direction: row;

    justify-content: center;

    height: 620px;

    padding-top: 10px;
}

.verticale > div {

    width: 210px;
    height: 575px;

    background-color: #20b2aa;
}

#principale{
    width: 355px;

    background-color: #f08080;
}

.bg-darkgray {
    background-color: #23272a;
}
/* Fine terza sezione */


/* Footer */



/* Fine footer */
