* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px red solid;
}
/* reset */


.container {
    display: flex;
    /* flex-direction: row; */

    justify-content: center;
    
    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;

}

/* Navbar */
.container nav{

    display: flex;
    align-items: center;

    height: 80px;

    padding: 15px 360px;
    
    background-color: #add8e6;
    
}
.logo, .links, .login {
    display: flex;
    align-items: center;
}

.logo {
    
    justify-content: flex-start;

    width: 240px;
    height: 50px;

    background-color: #daa520;
}

.links{

    justify-content: center;

    width: 720px;
    height: 50px;

    background-color: #daa520;
}

.login{

    justify-content: flex-end;

    width: 240px;
    height: 50px;

    background-color: #daa520;
}

/* Fine navbar */


/* header */

header{

    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;

    background-color: #00008b;
}

.quadrato{
    display: flex;

    width: 900px;
    height: 400px;

    background-color: #ee82ee;
}
/* Fine header */

/* Sezione 1 */
.prova{
    display: flex;
    justify-content: center;
    align-items: center;


    padding: 60px;
}

.img{
    display: flex;

    width: 715px;
    height: 500px;

    background-color: #1e90ff;
}

.testo{
    display: flex;

    width: 475px;
    height: 500px;

    background-color: #ffc0cb;
}

.bg-gray {
    background-color: #d3d3d3;
}
 /* fine sezione 1 */
